<nav class="navbar navbar-expand-md navbar-dark navbar-admin sticky-top" id="adminNav">
    <a class="navbar-brand" href="/mode">
        <i class="fa-solid fa-leaf navbar-brand-icon"></i>
        <span class="navbar-brand-text">Solnatura</span>
        <span class="badge badge-admin ml-2">Admin</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAdmin"
        aria-controls="navbarNavAdmin" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAdmin">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/mode" id="adminDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-tags"></i> Categorías
                </a>
                <div class="dropdown-menu dropdown-menu-premium" aria-labelledby="adminDropdown">
                    <a class="dropdown-item dropdown-item-all" href="/mode">
                        <i class="fa-solid fa-border-all"></i> Todos los productos
                    </a>
                    <div class="dropdown-divider"></div>
                    <% categorias.forEach(function (categoria) { %>
                        <a class="dropdown-item" href="/mode/cat/<%= categoria.codigo %>">
                            <i class="fa-solid fa-circle-dot text-success small"></i>
                            <%= categoria.nombre %>
                        </a>
                        <% }) %>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/modecat">
                    <i class="fa-solid fa-folder-plus"></i> Nueva Categoría
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mode/stock">
                    <i class="fa-solid fa-boxes-stacked"></i> Stock Bajo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">
                    <i class="fa-solid fa-cloud-arrow-up"></i> Subir Producto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                    <i class="fa-solid fa-eye"></i> Ver tienda
                </a>
            </li>
        </ul>
        <form action="/search" method="post" enctype="multipart/form-data" class="form-inline my-2 my-lg-0 search-form">
            <div class="input-group search-group">
                <input class="form-control search-input" type="search" name="buscar" placeholder="Buscar producto..."
                    aria-label="Search" />
                <div class="input-group-append">
                    <button class="btn btn-search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>